<% include partials/header %>
<h1> search page </h1>
<form action="/results" method="GET">
  
  <input type="text" name="search" ><br>

  <input type="submit" value="Submit">
</form>

<% include partials/footer %>